.profile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile__images{
    padding: 0;
    flex-basis: 120px;
    margin-right: 18px;
}

.profile__images:hover > img {
    cursor: pointer;
    opacity: 0.2;
    transition: 0.8s ease-in-out;
    /*display: block;*/
}

.profile__img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: 36px 20px 46px 0;
}

.profile__edit{
    /*display: none;*/
    width: 18px;
    height: 18px;
    position: absolute;
    opacity: 0;
    transform: translate(50px, -100px);
}

.profile__container {
    margin: 0;
    color: #fff;
    display: flex;
    align-items: center;
}

.profile__person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.profile__name {
    font-size: 42px;
    line-height: 48px;
    font-weight: 500;
}

.profile__about {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    padding-top: 13px;
}

.profile__button-person {
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    margin-left: 18px;
    margin-bottom: 25px;
    cursor: pointer;
}

.profile__icon {
    width: 13px;
    height: 13px;
}

.profile__icon:hover {
    background-color: #545454;
}

.profile__btn-image {
    width: 25%;
    height: 50px;
    border: 2px solid #fff;
    cursor: pointer;
}

@media screen and (max-width: 650px) {
    .profile {
        width: 282px;
        display: flex;
        flex-direction: column;
    }
    .profile__container {
        display: flex;
        flex-direction: column;
    }
    .profile__img {
        width: 50%;
        height: 100%;
        margin: 38px auto;
    }
    .profile__name {
        font-size: 22px;
        line-height: 26.63px;
    }
    .profile__about {
        font-size: 14px;
        line-height: 16.94px;
        margin: 0 auto;
        padding-top: 14px;
    }
    .profile__btn-image {
        width: 100%;
        height: 50px;
        margin-bottom: 25px;
    }
    .profile__button-person {
        transform: translate(110px, -60px);
    }
}