.popup-image {
    display: none;
    position: absolute;
    max-width: 75vw;
    max-height: 75vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 1280px rgba(0, 0, 0, 0.7)
}

.popup-image__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popup-image__button {
    position: absolute;
    border: none;
    right: -38px;
    top: -38px;
}