@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.elements {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 17px;
    cursor: pointer;
}

.elements__element {
    width: 282px;
    height: 361px;
    border-radius: 10px;
    border: none;
    background-color: #fff;
    position: relative;
}

.elements__photo {
    width: 282px;
    height: 282px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.elements__info {
    display: flex;
    background-color: #fff;
}

.elements__place {
    flex-basis: 85%;
    padding: 20px 0 20px 20px;
    font-size: 24px;
    font-weight: 900;
    line-height: 29.05px;
    color: #000000;
    background-color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.elements__button {
    background-color: #fff;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.elements__icon {
    width: 24px;
    height: 24px;
    background-color: #fff;
    cursor: pointer;
    transition: 1s;
}

.elements__count{
    background-color: #fff;
    font-weight: bold;
}

.elements__trash {
    padding: 15px;
    position: absolute;
    background: transparent;
    right: 0;
    top: 0;
}

/*#############################################################*/

.elements-popup {
    width:  430px;
    height: 181px;
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    display: none;
    position: absolute;
    transform: translate(10%, 150%);
    box-shadow: 0 0 0 1280px rgba(0, 0, 0, 0.7);
    animation: fade-in 0.5s ease-out;
}
.elements-popup_active {
    display: block;
}
.elements-popup__title{
    font-weight: bold;
    color: #000;
    background-color: #fff;
    padding: 34px 36px 38px;
    font-size: 24px;
    line-height: 29.05px;
    border-radius: 10px;
}

.elements-popup__button{
    background-color: #000;
    width:358px;
    height: 50px;
    margin: 0 36px;
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding:14px;
    border-radius: 5px;
}

.elements-popup__icon{
    position: absolute;
    transform: translate(210px, -40px);
    border: none;
}

/*#############################################################*/

.elements-modal{
    display: none;
}

.elements-modal__container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 25%);
    background-color: #fff;
    box-shadow: 0 0 0 1280px rgba(0, 0, 0, 0.7);
    animation: fade-in 0.5s ease-out;
    border-radius: 15px;
    width: 430px;
    height: 272px;

}

.elements-modal__title {
    width: 358px;
    margin: 0 auto;
    background-color: #fff;
    padding-top: 34px;
    font-size: 24px;
    font-weight: 900;
    line-height: 29.05px;
}

.elements-modal__input {
    width: 358px;
    height: 40px;
    margin: 30px 36px 0;
    background-color: #fff;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #545454;
}

.elements-modal__button {
    width: 358px;
    height: 50px;
    margin: 48px 36px 0;
    background-color: #000;
    color: #fff;
    border: none;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #545454;
    cursor: pointer;
    border-radius: 5px;
    transition: 1s;
}

.elements-modal__button:hover {
    background-color: #545454;
}

.elements-modal__error {
    color: red;
    background-color: transparent;
}

.elements-modal__button-icon {
    position: absolute;
    transform: translate(430px, -36px);
    border: none;
}

.elements-modal__button-icon img {
    cursor: pointer;
    transition: 1s;
}

.elements-modal__button-icon img:hover {
    background-color: #545454;
}







































